@media only screen and (max-width: 1200px) and (min-width: 1000px){
     .span-1of3{
        width: 48%;
        margin: 20px 0;
    }
    .q-position-form{
        position: relative;
        left: -160px;
    }
}

@media only screen and (max-width: 1000px){
    .span-1of3{
        width: 90%;
        float: none;
        display: block;
        margin: 0 auto;
    }
    .coll{
       width: 100%;
       display: block;
       margin: 0 auto;
    }
}








