/*Responzivní odstavce souhvezdi*/
@media only screen and (max-width: 1300px){
    #constelation {
        width: 80%;
    }
}

/*Responzivní části v sekci Závěr*/
@media only screen and (max-width: 1200px) and (min-width: 1000px){
     .span-1of3{
        width: 48%;
        margin: 20px 0;
    }
    .q-position-form{
        position: relative;
        left: -160px;
    }
}

@media only screen and (max-width: 1000px){
    .span-1of3{
        width: 90%;
        float: none;
        display: block;
        margin: 0 auto;
    }
    .coll{
       width: 100%;
       display: block;
       margin: 0 auto;
    }
    .span-1-of-2 li{
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 750px){
    .span-1-of-2 li{
        width: 100%;
        margin: 0 auto;
    }
}

/*Responzivní sekce header - nadpis h1*/
@media only screen and (max-width: 800px){
    h1{
        width: 90%;
        padding: 20px;
    }
    h1:after{
        width: 99%;
    }
}

@media only screen and (max-width: 736px){
    h1:after{
        width: 97%;
        display: none;
    }
}

/*Responzivní obrázky souhvezdi*/
@media only screen and (max-width: 650px){
    #responsive-constelation-img {
        width: 100%;
	    border-radius: 25px;
	    box-shadow: 2px 2px 7px #000;
    }
    .section-img{
        width: 70%;
        height: 80%;
        margin-left: 15%;
        margin-bottom: 20px;
    }
}

/*Responzivní sekce header - nadpis h1*/
@media only screen and (max-width: 550px){
    h1{
        width: 70%;
        left: 0;
        transform: translate(0%, 0%);
        text-align: justify;
        padding: 20px;
    }
    h1:after{
        display: none;
    }
    
    /*Responzivní navigace*/
    nav ul li {
        display: block;
        text-align: left;
    }
    .mobile-nav-back{
        height: 110px;
        position: fixed;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
    }
    .mobile-nav-icon{
        display: inline-block;
        position: fixed;
        right: 0.5%;
        display: none;
    }
    .navigace{
        left: 75%;
        background-color: #ffffff00;
        z-index: 200;
        float: right;
    } 
}